<div class="banner">

</div>

<div class="container">

  <div>
    <h1><%= @flat.name %></h1>
    <p><%= @flat.address %></p>
  </div>

  <div>
    <h2>Further Details</h2>
    <p><%= @flat.description %></p>
  </div>

  <div>
    <h2>Book Now!</h2>
    <div class="input-group input-group-sm mb-3">
      <span class="input-group-text">From:</span>
      <textarea class="form-control" aria-label="With textarea"></textarea>
    </div>
    <div class="input-group input-group-sm mb-3">
      <span class="input-group-text">To:</span>
      <textarea class="form-control" aria-label="With textarea"></textarea>
    </div>
    <div class="btn btn-success">Book</div>
  </div>

</div>
